/* Main overlay content. */
#overlayContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    width: 300px;
    /*height: 35%;*/
    box-sizing: border-box;
    padding: 15px 0px;
    /* background-color: #424242; */
    text-align: center;
}

/* Main overlay content anchor styles. */
#overlayContent a,
#overlayDismiss {
    color: rgba(202, 202, 202, 0.75);
    transition: 0.25s ease;
}
#overlayContent a:hover,
#overlayContent a:focus,
#overlayDismiss:focus {
    color: rgba(255, 255, 255, 0.75);
}
#overlayContent a:active,
#overlayDismiss:active {
    color: rgba(165, 165, 165, 0.75);
}

/* Add spacing between overlay content elements. */
#overlayContent > *:first-child {
    margin-top: 0px !important;
}
#overlayContent > *:last-child {
    margin-bottom: 0px !important;
}
#overlayContent > * {
    margin: 8px 0px;
}

/* Overlay title styles. */
#overlayTitle {
    font-family: 'Avenir Medium';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-user-select: initial;
}

/* Overlay description styles. */
#overlayDesc {
    font-size: 12px;
    font-weight: bold;
    -webkit-user-select: initial;
}

/* Div which contains action buttons. */
#overlayActionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Overlay acknowledge button styles. */
#overlayAcknowledge {
    background: none;
    border: 1px solid #ffffff;
    color: white;
    font-family: 'Avenir Medium';
    font-weight: bold;
    border-radius: 2px;
    padding: 0px 8.1px;
    cursor: pointer;
    transition: 0.25s ease;
}
#overlayAcknowledge:hover,
#overlayAcknowledge:focus {
    box-shadow: 0px 0px 10px 0px #fff;
    outline: none;
}
#overlayAcknowledge:active {
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

/* Overlay dismiss option styles. */
#overlayDismiss {
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    padding-top: 2.5px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#overlayDismiss:hover {
    color: rgba(255, 255, 255, 0.75);
}
#overlayDismiss:active {
    color: rgba(165, 165, 165, 0.75);
}