/* Main overlay content. */
#overlayContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    width: 20rem;
    /*height: 35%;*/
    box-sizing: border-box;
    padding: 1rem 0;
    /* background-color: #424242; */
    text-align: center;
}

/* Main overlay content anchor styles. */
#overlayContent a,
#overlayDismiss {
    color: rgba(202, 202, 202, 0.75);
    transition: 0.25s ease;
}
#overlayContent a:hover,
#overlayContent a:focus,
#overlayDismiss:focus {
    color: rgba(255, 255, 255, 0.75);
}
#overlayContent a:active,
#overlayDismiss:active {
    color: rgba(165, 165, 165, 0.75);
}

/* Add spacing between overlay content elements. */
#overlayContent > *:first-child {
    margin-top: 0 !important;
}
#overlayContent > *:last-child {
    margin-bottom: 0 !important;
}
#overlayContent > * {
    margin: 0.5rem 0;
}

/* Overlay title styles. */
#overlayTitle {
    font-family: 'Avenir Medium';
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-user-select: initial;
}

/* Overlay description styles. */
#overlayDesc {
    font-size: .75rem;
    font-weight: bold;
    -webkit-user-select: initial;
}

/* Div which contains action buttons. */
#overlayActionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Overlay acknowledge button styles. */
#overlayAcknowledge {
    background: none;
    border: 1px solid #ffffff;
    color: white;
    font-family: 'Avenir Medium';
    font-weight: bold;
    border-radius: 2px;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: 0.25s ease;
    font-size: 0.875rem;
}
#overlayAcknowledge:hover,
#overlayAcknowledge:focus {
    box-shadow: 0 0 0.625rem 0 #fff;
    outline: none;
}
#overlayAcknowledge:active {
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

/* Overlay dismiss option styles. */
#overlayDismiss {
    font-weight: bold;
    font-size: 0.625rem;
    text-decoration: none;
    padding-top: 0.15625rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#overlayDismiss:hover {
    color: rgba(255, 255, 255, 0.75);
}
#overlayDismiss:active {
    color: rgba(165, 165, 165, 0.75);
}