/* * *
* Overlay View (Server + Account Selection Content)
* * */

/* Server selection content container. */
#serverSelectContent,
#accountSelectContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

/* Server selection header. */
#serverSelectHeader,
#accountSelectHeader {
    font-family: 'Avenir Medium';
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
}

/* Wrapper div for the list of available servers. */
#serverSelectList,
#accountSelectList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 65%;
    min-height: 40%;
}

/* Scrollable div which lists the available servers. */
#serverSelectListScrollable,
#accountSelectListScrollable {
    padding: 0px 5px;
    overflow-y: scroll;
}
#serverSelectListScrollable::-webkit-scrollbar,
#accountSelectListScrollable::-webkit-scrollbar {
    width: 2px;
}
#serverSelectListScrollable::-webkit-scrollbar-track,
#accountSelectListScrollable::-webkit-scrollbar-track {
    display: none;
}
#serverSelectListScrollable::-webkit-scrollbar-thumb,
#accountSelectListScrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.50);
}

/* Content container for a server listing. */
.serverListing {
    border: none;
    padding: 0px;
    width: 375px;
    min-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.6;
    transition: 0.25s ease;
    cursor: pointer;
    position: relative;
    background: rgba(131, 131, 131, 0.25);
}
.serverListing[selected] {
    cursor: default;
    opacity: 1.0;
}
.serverListing:hover,
.serverListing:focus {
    outline: none;
    opacity: 1.0;
}

.accountListing {
    color: white;
    border: 1px solid rgba(126, 126, 126, 0.57);
    border-radius: 3px;
    padding: 5px 45px;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.6;
    transition: 0.25s ease;
    cursor: pointer;
    position: relative;
    background: rgba(0, 0, 0, 0.25);
}
.accountListing[selected] {
    cursor: default;
    opacity: 1.0;
}
.accountListing:hover,
.accountListing:focus {
    outline: none;
    opacity: 1.0;
}

.accountListingName {
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

/* Add spacing between server listings. */
#serverSelectListScrollable > .serverListing:not(:first-child):not(:last-child),
#accountSelectListScrollable > .accountListing:not(:first-child):not(:last-child) {
    margin: 5px 0px;
}
#serverSelectListScrollable > .serverListing:first-child,
#accountSelectListScrollable > .accountListing:first-child {
    margin-bottom: 5px;
}
#serverSelectListScrollable > .serverListing:last-child,
#accountSelectListScrollable > .accountListing:last-child {
    margin-top: 5px;
}

/* Server listing image. */
.serverListingImg {
    margin: 0px 10px 0px 5px;
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
}

/* Content container for the server listing's details. */
.serverListingDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 50px;
}

/* The name of the server listing. */
.serverListingName {
    font-size: 14px;
    font-weight: bold;
}

/* Description for the server listing. */
.serverListingDescription {
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
}

/* Content container for the server listing's information. */
.serverListingInfo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

/* The minecraft version of the server listing. */
.serverListingVersion {
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 12px;
    height: 12px;
    border-radius: 2px;
    background: rgba(31, 140, 11, 0.8);
    padding: 0px 2px;
}

/* The revision version of the server's manifest. */
.serverListingRevision {
    color: #969696;
    font-size: 10px;
    line-height: 12px;
    padding: 0px 5px;
}

/* Star which indicates the default (main) server. */
.serverListingStarWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 12px;
    position: relative;
}
/* Tooltip which displays when hovering over the star. */
.serverListingStarTooltip {
    visibility: hidden;
    opacity: 0;
    width: 65px;
    background-color: rgba(0, 0, 0, 0.40);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    left: 130%;
    font-size: 10px;
    transition: visibility 0s linear 0.25s, opacity 0.25s ease;
}
.serverListingStarTooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.40) transparent transparent;
}
.serverListingStarWrapper:hover .serverListingStarTooltip {
    visibility: visible;
    opacity: 1;
    transition-delay:0s;
}

/* Content container which contains the server select actions. */
#serverSelectActions,
#accountSelectActions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

/* Server selection confirm button styles. */
#serverSelectConfirm,
#accountSelectConfirm {
    background: none;
    border: 1px solid #ffffff;
    color: white;
    font-family: 'Avenir Medium';
    font-weight: bold;
    border-radius: 2px;
    padding: 0px 8.1px;
    cursor: pointer;
    transition: 0.25s ease;
    min-height: 20.67px;
}
#serverSelectConfirm:hover,
#serverSelectConfirm:focus,
#accountSelectConfirm:hover,
#accountSelectConfirm:focus {
    box-shadow: 0px 0px 10px 0px #fff;
    outline: none;
}
#serverSelectConfirm:active,
#accountSelectConfirm:active {
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

/* Server selection cancel button styles. */
#serverSelectCancel,
#accountSelectCancel {
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    padding-top: 2.5px;
    color: rgba(202, 202, 202, 0.75);
    transition: 0.25s ease;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#serverSelectCancel:hover,
#serverSelectCancel:focus,
#accountSelectCancel:hover,
#accountSelectCancel:focus {
    color: rgba(255, 255, 255, 0.75);
}
#serverSelectCancel:active,
#accountSelectCancel:active {
    color: rgba(165, 165, 165, 0.75);
}