<div class="animation">
<section>
	
	<div class="container">
		<div id="cube" class="show-front animate">
			<figure class="front"></figure>
			<figure class="back"></figure>
			<figure class="right"></figure>
			<figure class="left"></figure>
			<figure class="top"></figure>
			<figure class="bottom"></figure>
		</div>
		
	</div>
	
</section>
</div>