<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self'"/>
    <title>Westeroscraft Launcher</title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        body {
            background: url('assets/images/backgrounds/<%=bkid%>.jpg') no-repeat center center fixed;
            background-size: cover;
        }
        #main {
            height: calc(100% - 22px);
            background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        }
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
    </style>
</head>
<body>
    <% include frame.ejs %>
    <div id="main">
        <% include welcome.ejs %>
        <% include login.ejs %>
        <% include landing.ejs %>
    </div>
    <% include overlay.ejs %>
</body>
</html>