
<div id="frame_bar">
    <div id="button_dock">
        <button class="frame_button" id="frame_button_close"></button>
        <button class="frame_button" id="frame_button_restoredown"></button>
        <button class="frame_button" id="frame_button_minimize"></button>
    </div>
</div>