<div id="frame_bar">
    <div id="frame_btn_dock">
        <button class="frame_btn" id="frame_btn_close" tabIndex="-1"></button>
        <button class="frame_btn" id="frame_btn_restoredown" tabIndex="-1"></button>
        <button class="frame_btn" id="frame_btn_minimize" tabIndex="-1"></button>
    </div>
</div>