<div id="frame_bar">
    <div id="frame_btn_dock">
        <button class="frame_btn" id="frame_btn_close"></button>
        <button class="frame_btn" id="frame_btn_restoredown"></button>
        <button class="frame_btn" id="frame_btn_minimize"></button>
    </div>
</div>