<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Westeroscraft Launcher</title>
    <script src="./assets/js/script.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        body {
            background: url('assets/images/backgrounds/<%=0%>.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <% include frame.ejs %>
    <div id="main">
        <div id="upper">
            <div id="left">
                <img id="image_seal" src="assets/images/WesterosSealCircle.png"/>
            </div>
            <div id="content">
            </div>
            <div id="right">
                <div id="user_content">
                    <div id="top">
                        <span id="user_text">Username</span>
                        <img id="user_avatar" src="https://cdn.discordapp.com/avatars/169197209630277642/6650b5a50e1cb3d00a79b9b88b9a0cd4.png"/>
                    </div>
                    <div id="bottom">
                    </div>
                </div>
            </div>
        </div>
        <div id="lower">
            <div id="left">
                <div class="bot_wrapper">
                    <div id="content">
                        <span class="bot_label">PLAYERS</span>
                        <span id="player_count">18/100</span>
                        <div class="bot_divider"></div>
                        <span class="bot_label">MOJANG STATUS</span>
                        <span id="mojang_status_icon">&#8226;</span>
                    </div>
                </div>
            </div>
            <div id="center">
                <div class="bot_wrapper">
                    <div id="content">
                        <button id="menu_button">
                            <img src="assets/images/icons/arrow.svg" id="menu_img"/>
                            &#10;<span id="menu_text">MENU</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="right">
            </div>
        </div>
    </div>
</body>
</html>