<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Westeroscraft Launcher</title>
    <script src="./assets/js/script.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
</head>
<body>
    <% include frame.ejs %>
    <div id="main">
        <div id="upper">
            <div id="left">
                <img id="image_seal" src="assets/images/WesterosSealCircle.png"/>
            </div>
            <div id="content">
            </div>
            <div id="right">
                <div id="user_content">
                    <div id="top">
                        <span id="user_text">Username</span>
                        <img id="user_avatar" src="https://cdn.discordapp.com/avatars/169197209630277642/6650b5a50e1cb3d00a79b9b88b9a0cd4.png"/>
                    </div>
                    <div id="bottom">
                        <div class="menu_container">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="lower">
            <div id="top">
                <div id="launch_area_container">
                    <progress id="main_progress" max=100 value=20 data-label="&#8226; &#160;Westeroscraft Production Server"></progress>
                    <button id="launch_btn">LAUNCH</button>
                </div>
            </div>
            <div id="bottom">
                <div id="left">
                    <button class="home_btn" id="mojang_btn" status="#93b253">Mojang Status</button>
                </div>
                <div id="right">
                </div>
            </div>
        </div>
    </div>
</body>
</html>