<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Westeroscraft Launcher</title>
    <script src="./assets/js/script.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
</head>
<body>
    <% include frame.ejs %>
    <div id="main">
        <div id="upper">
            <div id="left">
            </div>
            <div id="content">
            </div>
            <div id="right">
            </div>
        </div>
        <div id="lower">
            <div id="top">
                <!-- Progress area/play button -->
            </div>
            <div id="bottom">
                <div id="left">
                </div>
                <div id="right">
                </div>
            </div>
        </div>
    </div>
</body>
</html>