<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent" style="text-align: center; padding-top: 10px;"> 
        <img src="assets/images/MineCharityLogo.png" alt="Logo" style="width: 200px; margin-top: 80px;"> <!-- Doublement de la taille du logo -->
        <div class="loginOptionsMainContent">
            <div class="loginOptionActions" style="margin-bottom: 5px;"> <!-- Réduction de la marge en bas pour rapprocher le texte -->
                <div class="loginOptionButtonContainer" style="margin: 20px auto;"> <!-- Réduction de la marge autour du bouton -->
                    <button id="loginOptionMicrosoft" class="loginOptionButton" style="padding: 15px 30px; font-size: 18px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 23 23" style="vertical-align: middle; margin-right: 10px;">
                            <path fill="#f35325" d="M1 1h10v10H1z" />
                            <path fill="#81bc06" d="M12 1h10v10H12z" />
                            <path fill="#05a6f0" d="M1 12h10v10H1z" />
                            <path fill="#ffba08" d="M12 12h10v10H12z" />
                        </svg>
                        <span style="vertical-align: middle;">Connexion</span>
                    </button>
                </div>
            </div>
            <p style="margin-top: 0px; color: #999;"> <!-- Suppression de la marge au-dessus du texte -->
                PAS DE COMPTE MINECRAFT ? 
                <a href="URL_ICI" style="color: cyan;">EN ACHETER UN</a>
            </p>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton">Annuler</button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
    <p style="position: absolute; bottom: 10px; right: 10px; color: #999;">V0.0.1</p>
</div>