<!-- Temp for tests -->
<% include frame.ejs %>
<script src="./assets/js/uicore.js"></script>
<link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
<!-- end temp -->
<div id="login_main">
<div id="login_filter"></div>
<div id="login_container">
    <div id="login_content">
        <div id="login_header" class="login_section">
            <img id="login_image_seal" src="assets/images/WesterosSealCircle.png"/>
            <span id="login_header_text">MEMBER LOGIN</span>
        </div>
        <div id="login_information" class="login_section">
            <input type="text" placeholder="EMAIL/USERNAME"/>
            <input type="password" placeholder="PASSWORD"/>
            <div id="login_links">
                <a href="https://help.mojang.com/customer/en/portal/articles/329524-change-or-forgot-password">Forgot Password?</a>
                <a href="https://minecraft.net/en-us/store/minecraft/">Need an account?</a>
            </div>
            <button id="login_button">LOGIN</button>
        </div>
        <div id="login_footer" class="login_section">
            <p id="login_disclaimer">
                Disclamer text...
            </p>
        </div>
    </div>
</div>
</div>