<div id="testouiheberg" style="display: none;">
    <div id="ouihebergContent">
        <img id="ouihebergImageSeal" src="assets/images/ouiheberg.png"/>
        <span id="ouihebergHeader">Merci à Ouiheberg de sponsorisé LukiEnLive !<br> <br> Thanks to Ouiheberg from sponsored LukiEnLive!</span>
        <span id="ouihebergDescription">Mais ce n'est pas tout ! Ouiheberg à penser à vous et vous offre 15% de réduction sur tout le site (sauf nom de domaine) ! Avec le lien ci-dessous et le code: LUKI15 ! <br> <br> But that's not all ! Ouiheberg to think of you and offers you 15% discount on the whole site (except domain name)! With the link below and the code: LUKI15! </span>
        <br>
        <a href="https://www.ouiheberg.com/panel/aff.php?aff=326">Lien de la promotion ici ! / Promo link here!</a>
        <button id="ouihebergButton">
            <div id="ouihebergButtonContent">
                Retour
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/ouiheberg.js"></script>
</div>
