<div id="overlayContainer" style="display: none;">
    <div id="overlayContent">
        <span id="overlayTitle">Lorem Ipsum:<br>Finis Illud</span>
        <span id="overlayDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
        <div id="overlayActionContainer">
            <button id="overlayAcknowledge">Conare Iterum</button>
            <a href="javascript:void(0);" id="overlayDismiss" style="display: none;">Dismiss</a>
        </div>
    </div>
</div>