<div id="overlayContainer" style="display: none;">
    <div id="overlayContent">
        <span id="overlayTitle">LOGIN FAILED:<br>INVALID CREDENTIALS</span>
        <span id="overlayDesc">Either the email or password you supplied is invalid. Please ensure everything is correct and try again.</span>
        <button id="overlayAcknowledge">Try Again</button>
    </div>
</div>