<div id="settingsContainer" style="display: none;">
    <div id="settingsContainerLeft">
        <div id="settingsNavContainer">
            <div id="settingsNavHeader">
                <span id="settingsNavHeaderText">Settings</span>
            </div>
            <div id="settingsNavItems">
                <div class="settingsNavItem">

                </div>
            </div>
        </div>
    </div>
    <div id="settingsContainerRight"></div>
</div>