<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2>Waiting for Microsoft..</h2>
        </div>
    </div>
</div>