<div id="welcomeContainer" style="display: none;">
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/MineCharityLogo.png"/>
        <span id="welcomeHeader">BIENVENUE SUR MINECHARITY</span>
        <span id="welcomeDescription">Rejoignez-nous dans une aventure unique sur Minecraft où chaque soirée spéciale est conçue pour apporter du fun et de la bienveillance. À travers MineCharity, nous organisons des soirées mémorables remplies d'effets spéciaux et de moments uniques, le tout pour soutenir des causes charitables et bâtir une communauté solide et engagée.</span>
        <br>
        <span id="welcomeDescCTA">Vous n'êtes qu'à quelques clics de l'aventure.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>