<div id="welcomeContainer" style="display: none;">
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">Bienvenue sur le serveur Minecraft Moddé de LukiEnLive !</span>
        <span id="welcomeDescription">Petit poisson qui grandit sur la plateforme Twitch ! Viens m'aider a construire le serveur !</span>
        <br>
        <span id="welcomeDescCTA">Rejoins nous !</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>