# Configuration file

##########################################################################################################
# internal
#--------------------------------------------------------------------------------------------------------#
# Don't Modify these settings unless explicitly told to or if you know what you are doing.
#  This could result in the lose of settings or an unexpected crash.
##########################################################################################################

internal {
    S:version=1
}


##########################################################################################################
# popoffs
#--------------------------------------------------------------------------------------------------------#
# These Settings effect the digits that bounce off mobs when they take damage.
##########################################################################################################

popoffs {

    ##########################################################################################################
    # behavior
    #--------------------------------------------------------------------------------------------------------#
    # This subcategory holds behavioral settings to do with PopOffs.
    ##########################################################################################################

    behavior {
        D:Bounce_Strength=1.5
        B:Enabled=true
        S:Gravity=1.600
        I:Lifespan=12
        I:Range=30
        B:ShowCriticalHits=true
        D:Size=3.0
        I:UpdateBehavior=2
    }

    ##########################################################################################################
    # appearance
    #--------------------------------------------------------------------------------------------------------#
    # This subcategory holds appearance settings to do with PopOffs.
    ##########################################################################################################

    appearance {
        B:Build_TexturePack_Font=true
        S:Color=FFAA00
        B:Enable_Depth_Test=false
        S:Heal_Color=00FF00
        D:Scale_Smoothing_Filter=0.0
        D:Transparency=1.0
        B:useDropShadows=true
    }

}


##########################################################################################################
# portrait
#--------------------------------------------------------------------------------------------------------#
# These Settings effect the current health portrait window on the hud.
##########################################################################################################

portrait {

    ##########################################################################################################
    # behavior
    #--------------------------------------------------------------------------------------------------------#
    # This subcategory holds behavioral settings to do with Portraits.
    ##########################################################################################################

    behavior {
        B:AlternateRenderMethod=false
        B:DebugHidesWindow=true
        B:Enable=true
        B:HighCompatibilityMode=false
        I:Portrait_Lifetime=160
        B:"Show Potion Effects"=true
        B:SupressBossHealth=false
    }

    ##########################################################################################################
    # appearance
    #--------------------------------------------------------------------------------------------------------#
    # This subcategory holds appearance settings to do with Portraits.
    ##########################################################################################################

    appearance {
        D:Gui_Scale=0.7599999904632568
        B:Lock_Mob_Position=true
        S:Portrait_Skin=/assets/defaultskins/default/
        I:Portrait_xPos=15
        I:Portrait_yPos=15
        I:Range=30
    }

}


