/* Container to organize login field elements. */
.loginFieldContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SVG icons on the login view. */
.loginSVG {
    fill: #fff;
    height: 1.25rem;
    width: 1.25rem;
}

/* Span which displays errors related to login field content. */
.loginErrorSpan {
    font-family: 'Avenir Medium';
    font-weight: bold;
    font-size: 0.5rem;
    color: #ff1b0c;
    width: 100%;
    text-align: right;
    position: absolute;
    top: 0.4375rem;
    opacity: 0;
    transition: 0.25s ease;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-0.0625rem, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(0.125rem, 0, 0);
    }
  
    30%, 50%, 70% {
        transform: translate3d(-0.25rem, 0, 0);
    }
  
    40%, 60% {
        transform: translate3d(0.25rem, 0, 0);
    }
}

/* Login text input styles. */
.loginField {
    font-family: 'Avenir Book';
    background: none;
    border-width: 0.09375rem 0 0 0;
    border-style: solid;
    width: 15.625rem;
    margin-bottom: 1.25rem;
    border-color: #fff;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding: 0.46875rem;
    font-size: 0.625rem;
    letter-spacing: 0.0625rem;
}
.loginField:focus {
    outline: none;
}
.loginField:disabled {
    color: rgba(255, 255, 255, 0.50);
}
.loginField::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.625rem;
    letter-spacing: 0.0625rem;
    text-align: center;
    font-weight: bold;
}
.loginField:focus::-webkit-input-placeholder {
    color: transparent;
}