/* Container to organize login field elements. */
.loginFieldContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SVG icons on the login view. */
.loginSVG {
    fill: #fff;
    height: 20px;
    width: 20px;
}

/* Span which displays errors related to login field content. */
.loginErrorSpan {
    font-family: 'Avenir Medium';
    font-weight: bold;
    font-size: 8px;
    color: #ff1b0c;
    width: 100%;
    text-align: right;
    position: absolute;
    top: 7px;
    opacity: 0;
    transition: 0.25s ease;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* Login text input styles. */
.loginField {
    font-family: 'Avenir Book';
    background: none;
    border-width: 1.5px 0px 0px 0px;
    border-style: solid;
    width: 250px;
    margin-bottom: 20px;
    border-color: #fff;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding: 7.5px;
    font-size: 10px;
    letter-spacing: 1px;
}
.loginField:focus {
    outline: none;
}
.loginField:disabled {
    color: rgba(255, 255, 255, 0.50);
}
.loginField::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
}
.loginField:focus::-webkit-input-placeholder {
    color: transparent;
}