
@font-face {
    font-family: ringbearer;
    src: url('../fonts/ringbearer.ttf');
}

/* Logger font, found on https://fonts.google.com/specimen/Inconsolata?selection.family=Inconsolata */
@font-face {
    font-family: inconsolata;
    src: url('../fonts/Inconsolata-Bold.ttf');
}


html , body{
    background: url('../images/BrownWithWignette.jpg') no-repeat center center fixed;
    background-size: cover;
}


a, a:hover 
{
     color: black; 
     text-decoration:none; 
     cursor:pointer;  
}


pre {border: 0; background-color: transparent;}



input{
    width: 100%;
    padding-left: 3px;
    border: none;
    border-bottom: 3px solid #ECECEC;
    font-size: 20px;
    outline:none;
}


p, img, pre, span, label, h1 ,h2 ,h3 {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
