@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/Avenir.ttc');
}

/* Reset body, html, and div presets. */
body, html, div {
    margin: 0px;
    padding: 0px;
}

body {
    background: url('./../images/backgrounds/0.jpg') no-repeat center center fixed;
    background-size: cover;
}

#frame_bar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background: rgba(1, 2, 1, 0.5);
    min-height: 22px;
    display: flex;
    align-items: center;
}

#frame_btn_dock {
    margin-left: 2px;
}

.frame_btn {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 0px;
    margin-left: 5px;
    -webkit-app-region: no-drag !important;
    cursor: pointer;
}

.frame_btn:focus {
    outline: 0px;
}

#frame_btn_close {
    background-color: #e74c32;
}

#frame_btn_close:hover {
    background-color: #FF9A8A;
}

#frame_btn_restoredown {
    background-color: #fed045;
}

#frame_btn_restoredown:hover {
    background-color: #FFE9A9;
}

#frame_btn_minimize {
    background-color: #96e734;
}

#frame_btn_minimize:hover {
    background-color: #D6FFA6;
}

#main {
    height: calc(100% - 22px);
}

#main > #upper {
    height: 77%;
    display: flex;
}

#main > #lower {
    height: 23%;
    display: flex;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

#main > #upper > #left {
    display: inline-flex;
    width: 15%;
    height: 100%;
    justify-content: flex-end;
}

#main > #upper > #content {
    display: inline-flex;
    width: 59%;
    height: 100%;
}

#main > #upper > #right {
    display: inline-flex;
    width: 26%;
    height: 100%;
}

#main > #lower > #left {
    height: 100%;
    width: 33%;
    display: inline-flex;
    justify-content: center;
}

#main > #lower > #left #content {
    position: relative;
    top: 25px;
    display: inline-flex;
    line-height: 24px;
    left: 50px;
}

#main > #lower > #center {
    height: 100%;
    width: 33%;
    display: inline-flex;
    justify-content: center;
}

#main > #lower > #center #content {
    position: relative;
    top: 25px;
}

#main > #lower > #right {
    height: 100%;
    width: 33%;
    display: inline-flex;
}

#image_seal {
    height: 70px;
    width: auto;
    position: relative;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 50%;
}

#user_content > #top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
}

#user_avatar {
    border-radius: 50%;
    border: 2px solid #cad7e1;
    background: rgba(1, 2, 1, 0.5);
    height: 70px;
    width: auto;
}

#user_text {
    font-family: 'Avenir Book';
    font-size: 12px;
    min-width: 112px;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0px 0px 20px black;
    position: relative;
    right: 25px;
    text-align: right;
}
/*
#main_progress[value] {
    height: 32px;
    width: 245px;
    -webkit-appearance: none;
}

#main_progress[value]:before {
    position: absolute;
    content: attr(data-label);
    color: white;
    font-family: 'Avenir Book';
    font-size: 15px;
    line-height: 32px;
    margin-left: 8px;
}

#main_progress[value]::-webkit-progress-bar {
    border-radius: 20px 0px 0px 20px;
    background-color: black;
}

#main_progress[value]::-webkit-progress-value {
    background-color: black;
    background-image: -webkit-linear-gradient(-45deg, 
    transparent 33%, rgba(0, 0, 0, .1) 33%, 
    rgba(0,0, 0, .1) 66%, transparent 66%),
-webkit-linear-gradient(top, 
    rgba(255, 255, 255, .25), 
    rgba(0, 0, 0, .25)),
-webkit-linear-gradient(left, #09c, #f44);
    border-radius: 20px 0px 0px 20px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#launch_area_container {
    display: flex;
    position: absolute;
    left: 40px;
    top: 32px;
}

.home_btn {
    background-color: black;
    color: white;
    font-family: 'Avenir Book';
    border: none;
    border-radius: 20px;
    font-size: 11px;
    height: 20px;
    padding: 0px 17px 0px 12px;
    line-height: 20px;
}

.home_btn:focus {
    outline: 0px;
}

#mojang_btn {
    position: absolute;
    left: 150px;
}

#mojang_btn:before {
    color: #93b253;
    content: '\2022  ';
    line-height: 20px;
} */

.bot_label {
    color: white;
    font-family: 'Avenir Book';
    font-size: 9px;
    font-weight: bold;
    text-shadow: 0px 0px 0px #bebcbb;
}

#player_count {
    color: #635f5b;
    font-family: 'Avenir Book';
    font-size: 8px;
    font-weight: 900;
    text-shadow: 0px 0px 0px #635f5b;
    margin-left: 10px;
}

.bot_divider {
    height: 25px;
    width: 2px;
    background: rgba(107, 105, 105, 0.7);
    margin-left: 20px;
    margin-right: 20px;
}

#mojang_status_icon {
    font-size: 30px;
    color: #a5c325;
    margin-left: 15px;
}

#menu_button {
    font-family: 'Avenir Book';
    background: none;
    border: none;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 0px 0px 0px #bebcbb;
    font-size: 11px;
    line-height: 24px;
}