ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    display: block;
    padding: 12px;
    padding-top: 5px;
    text-align: center;
}


li:hover {
    background-color: #a02d2a;
}

a{
    font-size: 20px;
    font-family: 'ringbearer';
}
.player_icon{
    margin-top: 120px;
    margin-left: -15px;
    width: 100%;
}


.input_text{
    font-size: 20px;
    font-family: 'bitter', italic;
    color: black;
    text-align: center;
    padding-top: 40px;
}

.input{
    width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 3px solid #bdc3c7;
    outline: none;
    font-size: 20px;
    
}

