/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

 /* Primary font for the application, found on http://www.dafont.com/ringbearer.font */ 
@font-face {
    font-family: ringbearer;
    src: url('../fonts/ringbearer.ttf');
}

/* Logger font, found on https://fonts.google.com/specimen/Inconsolata?selection.family=Inconsolata */
@font-face {
    font-family: inconsolata;
    src: url('../fonts/Inconsolata-Bold.ttf');
}

/*******************************************************************************
 *                                                                             *
 * Body                                                                        *
 *                                                                             *
 ******************************************************************************/

/* Reset body, html, and div presets. */
body, html, div {
    margin: 0px;
    padding: 0px;
}

html {
    background: url('../images/BrownWithWignette.jpg') no-repeat center center fixed;
    background-size: cover;
}

button {
    background-color: #a02d2a;
    color: #ffffff;
    border: none;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*******************************************************************************
 *                                                                             *
 * Header                                                                      *
 *                                                                             *
 ******************************************************************************/

/* Main div header container. */
#header_container {
    background-color: black;
    padding: 5px;
    font-size: 0px;
    text-align: center;
    border-bottom: thick solid #a02d2a;
    border-bottom-width: 5px;
    position: relative;
}

/* Div container for the seal image. */
#header_seal_container {
    position: absolute;
}

/* Div container for the header image. */
#header_img_container {
   display: inline-block;
   margin: 0 auto;
}

/* Seal and header images. */
#header_seal,
#header_img {
   height: 75px;
   width: auto;
   display: block;
}

/* Div container for the social buttons. */
#header_social_container {
   position: absolute;
   bottom: 0px;
   right: 0px;
   margin-bottom: 5px;
}

/* Social buttons. */
.header_social_img {
    height: 25px;
    width: auto;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

/*******************************************************************************
 *                                                                             *
 * Toggle Buttons                                                              *
 *                                                                             *
 ******************************************************************************/

.toggle-btn { 
    color: #000000;
    font-size: 15px;
    font-family: 'ringbearer';
    user-select: none;
    background-color: transparent; 
    display: inline-flex; 
    cursor: pointer;
    width: 90px;
    height: 35px;
}

.toggle-btn-grp .toggle-btn { 
    border-radius: 0;
    align-items: center;
    justify-content: center;
}

.toggle-btn:not(.success):hover { 
    box-shadow: inset 0 -4.5px 0 0 #000000;
}

.toggle-btn.success { 
    background: #a02d2a;
    color: #ffffff;
    cursor: default;
}

.visuallyhidden { 
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { 
    clip: auto; 
    height: auto; 
    margin: 0; 
    overflow: visible; 
    position: static; 
    width: auto; 
}

/*******************************************************************************
 *                                                                             *
 * Left Body Container                                                         *
 *                                                                             *
 ******************************************************************************/

#left_pane {
    float: left;
    width: 30%;
}

#welcome_text {
    font-family: 'ringbearer';
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 10px;
}

#login_container {
    display: inline-flex;
    width: 100%;
}

#login_image {
    height: 85px;
    width: auto;
    display: block;
    border: 3px solid #000000;
}

#login_container_right input,
#login_container_right label {
    display: flex;
    width: 100%;
}

#login_container_left {
    padding: 10px 0 10px 10px;
}

#login_container_right {
    padding: 10px;
    width: 100%;
}

.login_field {
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: 500;
}

#button_login {
    float: right;
    margin-right: 10px;
}

/*******************************************************************************
 *                                                                             *
 * Right Body Container                                                        *
 *                                                                             *
 ******************************************************************************/

#right_pane {
    float: right;
    width: 70%;
}

#content_container {
    border: 3px solid #a02d2a;
    height: 98%;
    width: 98%;
    min-height: 325px;
}