/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

 /* Primary font for the application, found on http://www.dafont.com/ringbearer.font */ 
@font-face {
    font-family: ringbearer;
    src: url('../fonts/ringbearer.ttf');
}

/* Logger font, found on https://fonts.google.com/specimen/Inconsolata?selection.family=Inconsolata */
@font-face {
    font-family: inconsolata;
    src: url('../fonts/Inconsolata-Bold.ttf');
}

/*******************************************************************************
 *                                                                             *
 * Body                                                                        *
 *                                                                             *
 ******************************************************************************/

body, html, div {
    margin: 0px;
    padding: 0px;
}

html {
    background: url('../images/BrownWithWignette.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*******************************************************************************
 *                                                                             *
 * Header                                                                      *
 *                                                                             *
 ******************************************************************************/

/* Main div header container/ */
#header_container {
    background-color: black;
    padding: 5px;
    font-size: 0px;
    text-align: center;
    border-bottom: thick solid #a02d2a;
    border-bottom-width: 5px;
    position: relative;
}

/* Div container for the seal image. */
#header_seal_container {
    position: absolute;
}

/* Div container for the header image. */
#header_img_container {
   display: inline-block;
   margin: 0 auto;
}

/* Seal and header images. */
#header_seal,
#header_img {
   height: 75px;
   width: auto;
   display: block;
}

/* Div container for the social buttons */
#header_social_container {
   font-size: 16px;
   position: absolute;
   bottom: 0px;
   right: 0px;
   margin-right: 5px;
}

/* Social buttons */
.header_social_img {
    height: 25px;
    width: auto;
    display: inline-block;
    cursor: pointer;
}