# Configuration file

~CONFIG_VERSION: 1

##########################################################################################################
# compatibility
#--------------------------------------------------------------------------------------------------------#
# Allows auto item skinning for supported mod to be enable/disable.
##########################################################################################################

compatibility {
    # Enable auto item support for Minecraft. [default: true]
    B:enable-minecraft-compat=true
}


##########################################################################################################
# overrides
#--------------------------------------------------------------------------------------------------------#
# Custom list of items that can be skinned.
# Format [override type:mod id:item name]
# Valid override types are: sword, shield, bow, pickaxe, axe, shovel, hoe and item
# example sword:minecraft:iron_sword
##########################################################################################################

overrides {
    S:itemOverrides <
     >
}


