/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

 @font-face {
    font-family: 'Avenir Book';
    src: url('../../static/fonts/Avenir-Book.ttf');
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('../../static/fonts/Avenir-Medium.ttf');
}

@font-face {
    font-family: 'Ringbearer';
    src: url('../../static/fonts/Ringbearer.ttf');
}

/*******************************************************************************
 *                                                                             *
 * Element Styles                                                              *
 *                                                                             *
 ******************************************************************************/

/* TODO: Temp for development */
body {
    /* background-image: url('../../static/images/backgrounds/3.jpg'); */
    background-size: cover;
}

/* Set height to 100% */
html {
    min-height: 100%;
}
body {
    height: 100vh;
}

/* Reset body, html, and div presets. */
body, html, div {
    margin: 0;
    padding: 0;
}

/* Reset p presets. */
p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* Set default font and color. */
body, button {
    font-family: 'Avenir Book';
    color: white;
}